<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<div class="container">
    <div class="page__hd">
        <div id="logopic"></div>
        <div id="introduce">
            <h3>湖南农业大学欢迎你</h3>
            <p>湘农青年&nbsp;校园服务</p>
        </div>
    </div>


        <div class="page__bd">
            <br>
            <div class="bd__header">
                <h3>用户登录</h3>
            </div>
            <br>
            <form action="{:U('Home/Login/handle')}" id="login_form" method="post">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                    <div class="weui-cell__bd">
                        <input name="userid" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入学号">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                    <div class="weui-cell__bd">
                        <input name="passwd" class="weui-input" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="page__bd_spacing" style="margin-top: 50px">
                    <a href="#" onclick="document:login_form.submit()" class="weui-btn weui-btn_primary" style="
    width: 95%;
">登录</a>
                </div>
            </form>
        </div>


<!-- header start -->
<include file="Public/Footer" />
<!-- header end -->