<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校园服务</title>
    <if condition="!empty($xn) || !empty($kb) || !empty($data)">
        <css href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />
    </if>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="__PUBLIC__/Css/weui.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5f67e94e6cd0b00bb260d24c6def7615";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
